#GridPane { 
	-fx-background-color: #DDC3E6;
}

.botonNormal {
	-fx-background-color: #B5B1E6;
}

.botonConfirmar {
	-fx-background-color: #b1e6b3;
}

.txtField {
	-fx-background-color: #f4d4ff;
}

#menuBar {
	-fx-background-color: #D5CCF0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: #d49be8;
}

.list-view {
    -fx-selection-bar:#d49be8 ;
}

.menu-item:focused {
     -fx-background-color: #d49be8;
}